body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}

nav {
  background-color: rgb(16, 180, 158);
  text-align: center;
  padding: 15px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

p {
  background-color: rgb(116, 204, 192);
  color: white;
  border-radius: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
h3 {
  color: #000000;
  text-align: center;
}
h4 {
  color: #000000;
  text-align: center;
}

h5 {
  color: #000000;
  text-align: center;
}
