.main-element {
  position: sticky;
  left: 10px;
  bottom: 10px;
  top: 10px;
  background-color: rgb(191, 141, 231);
  padding: 10px;
}
.parent-element {
  position: relative;
  height: 100px;
  padding:50px 10px;
  background-color: rgb(135, 89, 168);
}

.subling-element {
  padding: 10px;
  background-color: rgb(193, 175, 209);
  border: 1px solid #5d0088;
}
html{
  height: 800px;
}

